.hidden{
  display: none;
}
.fixed{
  overflow: hidden;
  height: 500px;
  overflow: scroll;

}

.teal{
  background: #124062;
  border-bottom: #20646c 2px solid;
  border-top: 0px;
  border-left: 0px;
  border-right: #20646c 2px solid;
}
.fixededitbox{
  z-index: 1;
  position: fixed;
}
.color {
    padding: 0px;
    width: 75px;
}
/*.jumbotron{
  background: #124062;
  color: #FFFFFF;
  text-shadow: #292929 0px 2px 5px;
  box-shadow: #292929 0px 1px 5px;*/
}
h1, h3{
  margin-left: 15%;
}
.btn-teal{
  background-color: rgba(255, 0, 0, 0.0);
  border-bottom: 0px #cf8a31 solid;
  font-size: 20px;
  color: #83c2ca;
  text-shadow: 1px 2px 1px #20646c;
  text
}
.btn-red{
  background-color: rgba(255, 0, 0, 0.0);
  border-bottom: 0px #cf4f50 solid;
  border-radius: 100%;
  color: #ef5a5a;
  font-size: 20px;
  text-shadow: 1px 2px 1px #20646c;
}
* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
/*.form-control{
  margin: 25px auto;
  border-radius: 0px;
  background: #83c2ca;
  border-bottom: #20646c 2px solid;
  border-top: 0px;
  border-left: 0px;
  border-right: #20646c 2px solid;*/
}
.form-control::-webkit-input-placeholder {
   color: #707070;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #707070;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #707070;
}

.form-control:-ms-input-placeholder {
   color: #707070;
}
