<!DOCTYPE>
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Vyral Workstation</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/css/core.css">
  </head>
  <body>
    <div class="jumbotron">
    <h1>Vyral Workstation</h1>
    <h3>Email Templater</h3>
    </div>
    <input class="form-control" type="text" ng-model="vyraldb.template">
    <button class="btn btn-primary" ng-click="addTemplate">New Template</button>
    <table class="table">
    <tr class="container" ng-controller="emailtemplates" ng-repeat="template in templatelist">
    <td>{{emailtemplates.html.template}}</td>
  </tr>
</table>



</div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>

    <script type="text/javascript" src="controllers/emailtemplates.js"></script>

  </body>
</html>
